td 
{
    border: 1px solid black;
}
th, table
{
    border: 3px solid  black
}
table
{
    border-collapse: collapse;
    color: rgb(22, 22, 24);
    margin-bottom: 15px;
}
td, th
{
    padding-left: 20px;
    padding-right: 20px;
}
table a
{
    color:red;
}
#testing 
{
    color: green 
}
.rowheader
{
    color:rgb(70, 11, 4);
    background-color: grey;
}
th:hover
{
    color:orange;
}
img
{
    height:75%;
    border-radius:10px;
    border-collapse: inherit;
    border: 2px solid black;  
    padding:2px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   
}
h1
{
    font-size: 420%;
    color: rgb(167, 93, 93);
    font-family: Georgia, serif;
    text-align: center;
}
h2
{
    color: rgb(83, 28, 46);
    text-align: justify;
}
h3
{
    color:black;
    font-size: small
}
body
{
    background-color: rgb(239, 181, 188);
}
ul
{
    list-style-type:circle;
    color:black;
}

a
{
    color: rgba(170, 19, 19, 0.712);
    font-size: x-large;
    font-style: italic;

}

p
{
    color: black;
    font-size: 16px;
    font-style:oblique;
    text-align:justify;
}
/* desktop */
@media only screen and (min-width : 992px) {
}
/* tablets */   
@media only screen and (min-device-width: 768px){}
/*phones*/
@media only screen and (min-width : 320px) {}
