.date
{
    color:rgb(210, 78, 76);
}

h1
{
    color:rgb(13, 12, 14);
    text-align: center;
}

img
{
    width:auto;
    border-radius: 30%;
    height: 200px;
}
body
{
background-color: rgba(236, 163, 226, 0.822);
}
a
{
    color: rgba(61, 10, 14, 0.385);
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
h1
{
font-style: oblique;
color:rgba(16, 60, 69, 0.585);
font-size: 35px;
}
h2
{
    font-size: 120%;
    color: rgba(189, 30, 51, 0.423);
    font-family: Georgia, serif;
}
ul
{
    list-style-type:none;
    font-size: 14px;
}
*
{
    text-align: center;
    font-family: courier;
}
p
{
 size: 80px;
}
nav
{
    border:rgb(226, 213, 213);
    border-style:double;
    border-radius: 7%;
    border-width: 6px;
}
