.date
{
    color:rgb(210, 78, 76);
}

h1
{
    color:rgb(13, 12, 14);
}

img
{
    width:30px;
    border-radius: 2%;
    height: 400px;
}
body
{
background-color: rgba(236, 163, 226, 0.822);
}
a
{
    color: rgba(170, 19, 19, 0.712);
    font-size: 30px;
    font-style: italic;
}
h1
{
    font-size: 420%;
    color: rgb(167, 93, 93);
    font-family: Georgia, serif;
    text-align: center;
}
h2
{
    color: rgb(83, 28, 46);
    text-align: justify;
}
*
{
    text-align: center;
}

