td 
{
    border: 1px solid black;
}
th, table
{
    border: 3px solid  black
}
table
{
    border-collapse: collapse;
    color: blue;
    margin-bottom: 15px;
}
td, th
{
    padding-left: 20px;
    padding-right: 20px;
}
table a
{
    color:red;
}
#testing 
{
    color: green 
}
.rowheader
{
    color:rgb(70, 11, 4);
    background-color: grey;
}
th:hover
{
    color:orange;
}
img
{
    margin: auto;
    display:block;
}